.categories-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 293px;
    width: 80%;
    margin: 60px auto;
}

.categories-banner img {
    width: 100%;
}

.banner-inside {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    top: 0;
    bottom: 0;
}

.banner-inside h2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-title-black);
    margin-bottom: 30px;
}

.banner-inside a {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-title-black);
    text-decoration: dotted underline var(--color-title-black);
}

.banner-inside span {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-text-gray);
}

.banner-inside .shop-text {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-title-black);
}

.banner-inside a:hover {
    color: var(--color-main-green);
    text-decoration: none;
}

.product-section {
    width: 80%;
    margin: 60px auto;
}

.product-grid-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.product-card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: calc(33.33% - 30px);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    position: relative;
}

.product-card>img {
    width: 100%;
    border-radius: var(--radius);
}

.out-stock {
    font-size: 17px;
    font-size: 400;
    color: var(--color-white);
    background-color: var(--color-price-red);
    text-align: center;
    border-radius: var(--radius) var(--radius) 0px 0px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
}

.product-card-bottom {
    margin: 10px;
}

.link-text a {
    color: var(--color-main-green);
    margin-bottom: 10px;
}

.link-text a:hover {
    color: var(--color-button-orange);
    text-decoration: none;
}

.product-card-bottom h5 {
    font-weight: 600;
    color: var(--color-title-black);
    margin-top: 10px;
    text-decoration: underline var(--color-title-black);
}

.product-card-bottom p {
    color: var(--color-text-gray);
    margin-top: 15px;
}

.price {
    font-size: 17px;
    font-weight: 600;
    color: var(--color-price-red);
    margin-top: 15px;
}

.product-price {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.text-sale {
    color: var(--color-price-red);
    margin-top: 15px;
    color: #4a4a4a;
    text-decoration: line-through;
}

.discount {
    font-size: 15px;
    font-weight: 400;
    color: #fa8e00;
    background-color: #ffa42e18;
    padding: 5px;
    margin-top: 11px;
}

.next-page-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-right: 50px;
    align-items: center;
}

.page-number {
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    background-color: var(--color-main-green);
    padding: 15px 20px;
    border-radius: 5px;
    color: var(--color-white);
}

.page-number.white {
    background-color: var(--color-white);
    color: var(--color-main-green);
    border: 1px solid #c2c2c2;
}

.next-page-section p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-main-green);
}

.other-deals-section {
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 20px;
    align-items: center;
    margin: 60px auto;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    padding: 80px 0px;
}

.green-card {
    display: flex;
    flex-direction: column;
    min-width: 260px;
    min-height: 357px;
    background-color: var(--color-bg-green);
    border-radius: var(--radius);
    box-sizing: border-box;
    padding: 20px;
    justify-content: space-between;
}

.light-leaf img {
    width: 100%;
    max-width: 180px;
}

.green-card h3 {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-white);
}

.deals-card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px 30px;
}

.deals-card img {
    width: 120px;
    height: 115px;
    border-radius: var(--radius);
}

.deals-card {
    display: flex;
    flex-direction: row;
    width: calc((100% - 30px) / 2);
}

.deals-introduce h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-title-black);
    text-decoration: underline var(--color-title-black);
}

.product-link a {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-title-black);
    text-decoration: underline var(--color-title-black);
}

.product-link a:hover {
    color: var(--color-button-orange);
    text-decoration: none;
}

.deals-introduce {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 5px;
}

.deals-introduce .price {
    margin: 0;
}

.ready-eat-banner {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 60px auto;
    background-color: #421610;
    padding: 30px;
    border-radius: 5px;
}

.ready-eat-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    box-sizing: border-box;
    padding: 10px 30px;

}

.ready-eat-left h3 {
    font-family: var(--font-body);
    font-size: 36px;
    color: var(--color-white);
    margin-bottom: 20px;
}

.ready-eat-left h2 {
    font-size: 44px;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 20px;
}

.heading-small {
    color: var(--color-button-orange);
}

.ready-eat-right {
    width: 45%;
}

.ready-eat-right img {
    width: 100%;
    height: 100%;
}

.ready-eat-left button {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.2;
    border-radius: var(--radius);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    background-color: transparent;
    padding: 20px 20px 22px;
    width: 45%;
    margin-top: 20px;
    gap: 10px;
}

.ready-eat-left button:hover {
    background-color: var(--color-main-green);
    color: var(--color-white);
    border: none;
}

.customers-review {
    min-height: 400px;
    position: relative;
    background-color: #FFF4E6;
}

.customers-review>img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.review-inside {
    display: flex;
    flex-direction: row;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
}

.review-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    box-sizing: border-box;
}

.review-left h3 {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-title-black);
}

.text-large {
    color: var(--color-text-gray);
    margin-top: 15px;
}

.average-rating {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.rating-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.rating-score {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-main-green);
}

.review-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.customer-card-grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.customer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc((100% - 30px) / 3);
    background-color: var(--color-white);
    gap: 30px;
    border-radius: var(--radius);
    padding: 30px 45px;
    box-sizing: border-box;
    justify-content: space-between;
}

.customer-card img {
    max-width: 90px;
    max-height: 90px;
    border-radius: 5px;
}

.text-body {
    color: var(--color-main-green);
}

.another-page-circle {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 30px;
    align-items: center;

}

.orange-color {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--color-button-orange);
}

.grey-color {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #c2c2c2;
}

@media screen and (max-width:1000px) {
    .categories-banner {
        width: 90%;
        margin: 40px auto;
    }

    .product-section {
        width: 90%;
        margin: 40px auto;
    }

    .product-card {
        width: calc((100% - 30px) / 2);
    }

    .next-page-section {
        margin-right: 10px;
    }

    .other-deals-section {
        width: 90%;
        gap: 60px;
        padding: 60px 20px;
    }

    .green-card {
        min-width: 130px;
        min-height: 580px;
        padding: 20px;
    }

    .light-leaf img {
        width: 100%;
        max-width: 180px;
    }

    .deals-card-grid {
        flex-direction: column;
        gap: 30px;
    }

    .deals-card {
        width: 100%;
        align-items: center;
        gap: 10px;
    }

    .ready-eat-banner {
        width: 90%;
        padding: 20px;
        align-items: center;
    }

    .ready-eat-left {
        width: 50%;
    }

    .ready-eat-right {
        width: 50%;
        padding: 10px;
    }

    .ready-eat-right img {
        width: 100%;
        height: auto;
    }

    .ready-eat-left button {
        padding: 20px;
        width: 60%;
    }

    .review-inside {
        padding: 30px;
    }

    .customer-card:nth-child(3) {
        display: none;
    }

    .customer-card {
        width: calc((100% - 10px) / 2);
    }

    .customer-card-grid {
        gap: 20px;
    }
}

@media screen and (max-width:800px) {
    .categories-banner {
        width: 95%;
        margin: 30px auto;
    }

    .banner-inside {
        width: 100%;
    }

    .product-section {
        margin: 30px auto;
    }

    .product-card {
        width: 100%;
    }

    .other-deals-section {
        flex-direction: column;
    }

    .green-card {
        width: 100%;
        min-height: 100px;
    }

    .light-leaf img {
        max-width: 100px;
    }

    .deals-card-grid {
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }

    .deals-card {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .deals-card img {
        width: 100%;
        max-width: 600px;
        min-height: 450px;
    }

    .deals-introduce {
        width: 85%;
        text-align: left;
        margin-left: 0px;
    }

    .ready-eat-banner {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .ready-eat-left {
        width: 100%;
        padding: 10px;
        text-align: center;
        align-items: center;
    }

    .ready-eat-right {
        width: 100%;
        padding: 0px;
    }

    .ready-eat-left button {
        width: 30%;
        justify-content: center;
    }

    .customers-review {
        min-height: auto;
    }

    .review-inside {
        flex-direction: column;
    }

    .review-left {
        width: 100%;
    }

    .review-right {
        width: 100%;
        margin-top: 10px;
    }

    .customer-card-grid {
        width: 100%;
    }

    .customer-card {
        padding: 30px 80px;
    }
}