.categories-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 293px;
    width: 80%;
    margin: 60px auto;
}

.categories-banner img {
    width: 100%;
}

.banner-inside {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    top: 0;
    bottom: 0;
}

.banner-inside h2 {
    font-weight: 600;
    color: var(--color-title-black);
    margin-bottom: 30px;
}

.banner-inside a {
    font-weight: 400;
    color: var(--color-title-black);
    text-decoration: dotted underline var(--color-title-black);
}

.banner-inside span {
    font-weight: 400;
    color: var(--color-text-gray);
}

.banner-inside .shop-text {
    font-weight: 400;
    color: var(--color-title-black);
}

.banner-inside a:hover {
    color: var(--color-main-green);
    text-decoration: none;
}

.news-page {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
}

.post-card {
    display: flex;
    gap: 24px;
    margin-top: 50px;
    margin-bottom: 130px;
    margin-right: 25px;
}

.post-card img {
    width: 276px;
    height: 278px;
    object-fit: cover;
    border-radius: 8px;
}

.post-date {
    color: var(--color-title-black);
    margin-bottom: 8px;
    margin-top: 15px;
}

.post-green-title {
    color: var(--color-main-green);
    text-decoration: underline;
}

.post-green-title p:hover {
    color: var(--color-button-orange);
    text-decoration: none;
}

.post h4 {
    font-weight: 700;
    color: var(--color-title-black);
    margin-bottom: 8px;
    text-decoration: underline;
}

.post-text {
    color: var(--color-title-black);
    margin-bottom: 16px;
    margin-right: 25px;
}

.read-more {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border: 1px solid var(--color-box-gray);
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 600;
    color: var(--color-title-black);
    background-color: var(--color-white);
}

.news-articles {
    max-width: 1180px;
    margin: 0 auto;
    padding: 60px 24px;
}

.news-grid {
    display: flex;
    gap: 24px;
}

.news-card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    flex: 1;
    height: 300px;
}

.news-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    inset: 0;
    background: var(--color-title-black);
    opacity: 0.5;
}

.card-title {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px;
    z-index: 2;
}

.card-title h4 {
    color: var(--color-white);
    font-weight: 600;
    margin-bottom: 8px;
}

.news-content {
    color: var(--color-button-orange);
}

.customers-review {
    min-height: 400px;
    position: relative;
    background-color: #FFF4E6;
}

.customers-review>img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.review-inside {
    display: flex;
    flex-direction: row;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
}

.review-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    box-sizing: border-box;
}

.review-left h3 {
    font-weight: 600;
    color: var(--color-title-black);
}

.text-large {
    color: var(--color-text-gray);
    margin-top: 15px;
}

.average-rating {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.rating-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.rating-score h4 {
    font-weight: 400;
    color: var(--color-main-green);
}

.review-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.customer-card-grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.customer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc((100% - 30px) / 3);
    background-color: var(--color-white);
    gap: 30px;
    border-radius: var(--radius);
    padding: 30px 45px;
    box-sizing: border-box;
    justify-content: space-between;
}

.customer-card img {
    max-width: 90px;
    max-height: 90px;
    border-radius: 5px;
}

.text-body {
    color: var(--color-main-green);
}

.cta {
    width: calc(100% - 40px);
    max-width: 1248px;
    min-height: 200px;
    margin: 60px auto 40px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(76, 130, 25, 0.88),
            rgba(76, 130, 25, 0.88)), url(https://avada.website/vegan-store/wp-content/uploads/sites/186/2023/12/vegan-ready-meals-banner-1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    color: var(--color-white);
}

.cta-content {
    display: flex;
    flex-direction: column;
}

.cta h2 {
    margin: 0 0 12px;
    font-weight: bold;
}

.cta p {
    margin: 8px;
}

.cta button {
    width: 256px;
    height: 76px;
    flex-shrink: 0;
    background: transparent;
    border: 2px solid var(--color-white);
    border-radius: 8px;
    color: var(--color-white);
    transition: 0.25s;
}

.cta button a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.cta button:hover {
    background: var(--color-white);
    color: var(--color-title-black);
}

.post button a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1000px) {
    .categories-banner {
        width: calc(100% - 40px);
        margin: 50px auto;
    }

    .banner-inside {
        width: 85%;
    }

    .news-page {
        max-width: 100%;
        padding: 0 30px;
        gap: 30px;
    }

    .post-card {
        width: 100%;
        gap: 20px;
        margin-top: 30px;
        margin-bottom: 90px;
        margin-right: 0;
    }

    .post-card img {
        width: 240px;
        height: 240px;
        flex-shrink: 0;
    }

    .post-text {
        margin-right: 0;
    }

    .news-articles {
        max-width: 100%;
        padding: 50px 30px;
    }

    .news-grid {
        gap: 18px;
    }

    .news-card {
        height: 280px;
    }

    .review-inside {
        padding: 40px 30px;
        gap: 35px;
    }

    .review-left {
        width: 28%;
    }

    .review-right {
        width: 68%;
    }

    .customer-card-grid {
        gap: 12px;
        width: 100%;
    }

    .customer-card {
        width: calc((100% - 24px) / 3);
        padding: 25px 20px;
        gap: 20px;
    }

    .cta {
        width: calc(100% - 40px);
        padding: 40px 60px;
    }

    .cta button {
        width: 220px;
        height: 65px;
    }
}

@media screen and (max-width: 800px) {
    .categories-banner {
        width: calc(100% - 30px);
        min-height: 250px;
        margin: 40px auto;
    }

    .banner-inside {
        width: 90%;
    }

    .news-page {
        padding: 0 20px;
        gap: 20px;
    }

    .post-card {
        width: 100%;
        flex-direction: column;
        gap: 15px;
        margin-top: 25px;
        margin-bottom: 70px;
        margin-right: 0;
    }

    .post-card img {
        width: 100%;
        height: 280px;
    }

    .post-content {
        width: 100%;
    }

    .post-date {
        margin-top: 5px;
    }

    .post-text {
        margin-right: 0;
    }

    .news-articles {
        padding: 40px 20px;
    }

    .news-grid {
        flex-direction: column;
        gap: 20px;
    }

    .news-card {
        width: 100%;
        height: 280px;
        flex: none;
    }

    .customers-review {
        min-height: auto;
    }

    .review-inside {
        flex-direction: column;
        padding: 40px 25px;
        gap: 35px;
    }

    .review-left {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .average-rating {
        align-items: center;
    }

    .review-right {
        width: 100%;
    }

    .customer-card-grid {
        width: 100%;
        flex-wrap: wrap;
        gap: 15px;
    }

    .customer-card {
        width: calc((100% - 15px) / 2);
        padding: 25px 20px;
    }

    .cta {
        width: calc(100% - 30px);
        min-height: 180px;
        margin: 45px auto 30px;
        padding: 35px 35px;
        gap: 25px;
    }

    .cta button {
        width: 190px;
        height: 60px;
    }
}