 @import url('https://fonts.googleapis.com/css2?family=Geomini:wght@200..800&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Happy+Monkey&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

 body {
     font-family: "Sen", sans-serif;
 }

 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
     padding-left: 16px;
     padding-right: 30px;
     margin: 70px 80px;
 }

 .header-logo {
     width: 190px;
 }

 .menu {
     display: flex;
     gap: 50px;
     align-items: center;
     font-size: 17px;
     font-weight: 600;
     font-family: "Sen", sans-serif;
 }

 .header-icon {
     display: flex;
     gap: 30px;
 }

 .header-icon img {
     width: 30px;
 }

 .home-text {
     color: #FFA42D;
 }

 .footer-upper {
     background-color: #F2F2F2;
     color: #494949;
     padding: 80px 30px 88px 30px;
     margin: 0px;
     display: flex;
     justify-content: space-evenly;
     gap: 80px;
     flex-wrap: wrap;
 }

 .footer-left {
     display: flex;
     flex-direction: column;
     padding-right: 48px;
     align-items: flex-start;
     width: 388px;
     height: 303px;
     flex-wrap: wrap;
 }

 .footer-left p {
     font-size: 17px;
     font-weight: 400;
     margin-bottom: 12px;
     color: #494949;
 }

 .enter-email input {
     box-sizing: border-box;
     font-size: 17px;
     font-weight: 400;
     background-color: #FFFFFF;
     color: #494949;
     border-radius: 8px;
     padding: 8px 16px 8px 16px;
     width: 100%;
     height: 68px;
     letter-spacing: 400;
     line-height: 1;
     text-align: left;
     margin-top: 20px;
     border: none;
 }

 form {
     width: 100%;
     margin: 0;
     padding: 0;
 }

 .subscribe-button {
     background-color: #FFA42D;
     color: #FFFFFF;
     font-size: 17px;
     line-height: 1.2;
     font-weight: 600;
     border-radius: 8px;
     padding: 20px 60px;
     width: 100%;
     margin-top: 15px;
     letter-spacing: -0.17px;
     align-items: center;
     border: none;
 }

 .container-list {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     text-align: left;
 }

 div.title {
     font-size: 20px;
     font-weight: 700;
     line-height: 1.4;
     color: #141414;
     margin: 10px 0px 10px 0px;
 }

 .footer-list {
     font-size: 16px;
     font-weight: 400;
     margin-left: -20px;
 }

 .footer-list div {
     padding: 0px 20px 12px 20px;
     color: #212934;
     line-height: 1.72;
     letter-spacing: -0.16px;
     gap: 14px
 }

 .phone-text {
     font-size: 17px;
     font-weight: 400;
     margin-bottom: 2px;
 }

 .phone-text p {
     margin: 0;
 }

 .phone-number {
     font-size: 24px;
     font-weight: 700;
     color: #76B62B;
     margin-bottom: 4px;
 }

 .phone-number p {
     margin: 0;
 }

 .vegan-gmail {
     font-size: 17px;
     color: #494949;
     margin-bottom: 32px;
 }

 .footer-social {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
 }

 .footer-social div {
     display: flex;
     box-sizing: border-box;
     background-color: #FFFFFF;
     border-radius: 8px;
     width: 40px;
     height: 40px;
     padding: 12px;
     margin: 5px;
     align-items: center;
     justify-content: center;
 }

 .footer-bottom {
     display: flex;
     flex-direction: column;
     margin-top: 30px;
     color: #494949;
     align-items: center;
     flex-wrap: wrap;
 }

 .footer-copyright {
     display: flex;
     font-size: 15px;
     font-weight: 400;
     color: #494949;
     line-height: 1.8;
     letter-spacing: -0.15px;
 }

 .footer-cards {
     width: 326px;
     line-height: 1.2;
     margin-top: 16px;
     margin-bottom: 8px;
 }

 .vegan-text {
     font-size: 13px;
     font-weight: 400;
     color: #494949;
     line-height: 1.5;
     letter-spacing: -0.13px;
 }

 .footer-download {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin-left: -80px;
 }

 .footer-playstore {
     display: flex;
     flex-direction: row;
     gap: 10px;
     max-width: 90px;
     line-height: 1;
     margin-left: 8px;
 }

 .footer {
     margin-top: 100px;
 }