 @import url('https://fonts.googleapis.com/css2?family=Geomini:wght@200..800&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Happy+Monkey&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

 body {
     font-family: "Sen", sans-serif;
 }

 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
     padding-left: 16px;
     padding-right: 30px;
     margin: 70px 80px;
 }

 .header-logo {
     width: 200px;
 }

 .menu {
     display: flex;
     gap: 50px;
     align-items: center;
     font-size: 17px;
     font-weight: 600;
     font-family: "Sen", sans-serif;
 }

 .header-icon {
     display: flex;
     gap: 30px;
 }

 .header-icon img {
     width: 30px;
 }

 .home-text {
     color: #FFA42D;
 }

 .footer-upper {
     background-color: #F2F2F2;
     color: #494949;
     padding: 80px 20px 88px;
     margin: 0px;
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
 }

 .footer-left {
     padding: 0px 48px 0px 0px;
     margin: 0px 24px;
     align-items: flex-start;
     gap: 10px;
 }

 .footer-left p {
     font-size: 17px;
     width: 340px;
 }

 .enter-email {
     box-sizing: border-box;
     background-color: #FFFFFF;
     border-radius: 10px;
     padding: 8px 16px;
     width: 340px;
     height: 68px;
     margin-top: 30px;
 }

 .subscribe-button {
     background-color: #FFA42D;
     color: #FFFFFF;
     font-size: 17px;
     font-weight: 600;
     border-radius: 14px;
     padding: 20px 30px 22px;
     width: 340px;
     height: 68px;
     margin-top: 15px;
 }

 div.title {
     font-size: 20px;
     font-weight: 600px;
     color: #141414;
 }

 .footer-list {
     font-size: 14px;
     width: 201px;
     height: 235px;
 }

 .footer-list div {
     padding-top: 20px;
     color: #212934;
 }

 .phone-text {
     font-size: 17px;
 }

 .phone-number {
     font-size: 24px;
     font-weight: 700;
     color: #76B62B;
 }

 .vegan-gmmail {
     font-size: 17px;
     color: #494949;
 }

 .footer-social {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     margin-top: 30px;
 }

 .footer-social div {
     box-sizing: border-box;
     background-color: #FFFFFF;
     border-radius: 7px;
     width: 40px;
     height: 40px;
     padding: 8px;
 }

 .footer-bottom {
     text-align: center;
     margin-top: 30px;
     padding: 32px 30px 24px;
     color: #494949;
 }

 .footer-copyright {
     font-size: 15px;
     color: #494949;
     margin-bottom: 30px;
 }

 .footer-text {
     font-size: 13px;
     color: #494949;
     margin-top: 50px;
 }

 .footer-download {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 30px;
 }

 .footer-playstore {
     display: flex;
     flex-direction: row;
     gap: 15px
 }

 .footer {
     margin-top: 100px;
 }