.page-head {
    font-size: 15px;
    text-align: center;
    padding: 50px 24px 40px;
}

.page-title {
    font-size: 48px;
    font-weight: 600;
    color: black;
    line-height: 1.1;
}

.content {
    font-size: 110px;
    font-weight: 800;
    margin: 0;
    color: #494949;
    line-height: 1.2;
    padding: 20px 22px 50px;
}