/*Hero banner*/
.hero-banner {
    width: 100%;
    min-height: 679px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
}

.hero-banner>img {
    width: 100%;
    display: block;
}

.hero-inside {
    display: flex;
    position: absolute;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    top: 0;
    bottom: 0;

}

.hero-left {
    width: 25%;
}


.hero-right {
    width: 25%;
}


.hero-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 30px;
}

.icon-leaf img {
    width: 70px;
}

.hero-middle h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 16px;
    color: var(--color-title-black);
}

.hero-middle h3 {
    font-family: "Happy Monkey", system-ui;
    font-size: 36px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-title-black);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.browse-all-btn {
    background-color: var(--color-button-orange);
    color: var(--color-white);
    border: none;
    border-radius: var(--radius);
    padding: 22px 40px 24px;
    font-size: 17px;
    font-weight: 600;
}

.browse-all-btn:hover {
    background-color: var(--color-main-green);
    color: var(--color-white);
}

/*Announcement bar*/
.announcement-bar {
    width: 100%;
    background-color: #421610;
}

.announcement-inside {
    display: flex;
    align-items: center;
    min-height: 74px;
    justify-content: center;
}

.announcement-text p {
    font-size: 17px;
    font-weight: 400;
    color: var(--color-white);
    margin: 0;
}

.announcement-inside>div {
    color: var(--color-white);
    margin-left: 25px;
    margin-right: 25px;
}

/*Best selling*/
.best-selling-section {
    margin: 60px;
}

.best-selling-section h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.product-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
}

.green-selling-card {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: var(--color-bg-green);
    border-radius: var(--radius);
    max-width: 266px;
    width: 25%;
    padding: 40px 30px;
    box-sizing: border-box;
}

.green-selling-card .light-leaf img {
    width: 100%;
    max-width: 204px;
    height: auto;
}

.green-selling-card .icon-leaf img {
    width: 50px;
}

.green-selling-card .icon-leaf {
    margin-bottom: 16px;
}

.green-selling-card h4 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-white);
    margin: 0;
}

.selling-card-inside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
}

.product-card {
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
    width: calc((100% - 40px) / 3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 0px;
}

.product-card-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;
    min-width: 0;
    align-items: stretch;
}

.product-card>img {
    width: 100%;
    margin-bottom: 16px;
}

.product-card a {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-main-green);
    margin: 12px 16px 0px;
}

.product-card h5 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 16px;
    color: var(--color-title-black);
    margin: 12px 16px 0px;
    text-decoration: underline 1px solid var(--color-title-black);
}

.product-card p {
    font-size: 15px;
    font-weight: 400;
    margin: 6px 16px 0px;
    color: var(--color-text-grey);
}

.product-price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 16px;
    margin-top: 16px;
    align-items: center;
}

.product-price .price {
    font-size: 17px;
    font-weight: 600;
    color: #ea2a30;
}

.product-price .old-price {
    font-size: 14px;
    font-weight: 400;
    color: #4a4a4a;
    text-decoration: line-through;
}

.product-price .discount {
    font-size: 15px;
    font-weight: 400;
    color: #fa8e00;
    background-color: #ffa42e18;
    padding: 5px;
}

.add-cart-btn {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-title-black);
    padding: 17px 40px;
    border: 1px solid #c2c2c2;
    background-color: var(--color-white);
    border-radius: var(--radius);
    margin-top: auto;
    text-align: center;
}

.add-cart-btn img {
    width: 21px;
    margin-right: 15px;
    margin-bottom: -2px;
}

.product-option p {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-text-grey);
    margin: 10px 0px 10px 16px;
}

.option-btns button {
    font-size: 13px;
    font-weight: 400;
    color: var(--color-box-gray);
    border-radius: 4px;
    border: 1px solid #c2c2c2;
    background-color: var(--color-white);
    padding: 6px 14px;
    margin: 10px 0px 10px 0px;
}

.option-btns {
    margin-left: 16px;
}

.brown-selling-card {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: var(--color-bg-red);
    border-radius: var(--radius);
    max-width: 266px;
    width: 25%;
    padding: 40px 30px;
    box-sizing: border-box;
}

.brown-selling-card .light-leaf img {
    width: 100%;
    max-width: 204px;
    height: auto;
}

.brown-selling-card .icon-leaf img {
    width: 50px;
}

.brown-selling-card .icon-leaf {
    margin-bottom: 16px;
}

.brown-selling-card h4 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-white);
    margin: 0;
}

.second-row {
    margin-top: 50px;
}

.color-option-btns button {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 1px solid #bcbcbc;
    background-color: var(--color-white);
    padding: 4px;
    margin: 10px 0px 10px 0px;
}

.black-color span {
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: var(--color-title-black);
}

.green-color span {
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #157f73;
}

.color-option-btns {
    margin-left: 16px;
}

.content {
    font-size: 110px;
    font-weight: 700;
    margin: 0;
    color: var(--color-text-grey);
    line-height: 1.2;
    letter-spacing: -3.58px;
}

.introduce {
    margin: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduce-left {
    width: 45%;
    position: relative;
}

.introduce-left>img {
    position: absolute;
    margin-top: -100px;
}

.introduce-title {
    display: flex;
    align-items: center;
}

.introduce-title img {
    width: 50px;
    margin-right: 20px;
}

.introduce-title h3 {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-title-black);
}

.introduce-left p {
    font-size: 19px;
    font-weight: 400;
    color: var(--color-text-grey);
    margin: 8px 8px 0px 8px;
    line-height: 32px;
    margin-bottom: 30px;
}

.about-store-btn button {
    font-size: 17px;
    font-weight: 600;
    padding: 20px 40px 22px;
    border-radius: var(--radius);
    border: none;
    color: var(--color-white);
    background-color: var(--color-button-orange);
}

.introduce-right {
    width: 45%;
}

.introduce-right img {
    width: 100%;
}

.news-and-article {
    margin: 80px 60px 60px 60px;
}

.article-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.article-upper h3 {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-title-black);
    margin: 0;
}

.article-upper button {
    font-size: 17px;
    font-weight: 600;
    padding: 24px 40px;
    border-radius: var(--radius);
    color: var(--color-white);
    background-color: var(--color-button-orange);
    border: none;
}

.article-grids {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.article-card {
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
    width: calc((100% - 40px) / 3);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.article-card h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-title-black);
    text-decoration: underline var(--color-title-black);
    margin-bottom: 20px;
}

.article-card p {
    font-size: 17px;
    font-weight: 400;
    color: var(--color-text-grey);
    margin: 0px 0px 20px 0px;
}

.article-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #c2c2c2;
    padding: 10px;
    gap: 15px;
    margin: 30px 30px 0px;
}

.article-down .date {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-text-grey);
    border-right: 1px solid var(--color-title-black);
    padding-right: 10px;
}

.article-down a {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-main-green);
    text-decoration: 1px solid var(--color-main-green) underline;
}

.article-content {
    margin: 0px 30px;
}

.product-card a:hover {
    color: var(--color-button-orange);
}

.product-card h5:hover {
    color: var(--color-button-orange);
    text-decoration: none;
}

.add-cart-btn:hover {
    color: var(--color-white);
    background-color: var(--color-button-orange);
}

.about-store-btn button:hover {
    background-color: var(--color-main-green);
}

.article-upper button:hover {
    background-color: var(--color-main-green);
}

.article-card h4:hover {
    color: var(--color-button-orange);
    text-decoration: none;
}

.content-mobile {
    display: none;
}

.introduce-right-mobile {
    display: none;
}

.introduce-right-mobile {
    width: 45%;
    position: relative;
}

.introduce-right-mobile>img {
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.back-stemp img {
    position: absolute;
    width: 50%;
    margin-top: -100px;
    margin-left: 150px;
}

@media screen and (max-width:1000px) {

    .hero-left,
    .hero-right {
        display: none;
    }

    .hero-inside {
        width: 90%;
        justify-content: center;
        margin-top: 40px;
    }

    .hero-middle {
        width: 80%;
    }

    .announcement-inside>div {
        margin-left: 8px;
        margin-right: 8px;
    }

    .product-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .green-selling-card {
        width: 25%;
        max-width: 206px;
    }

    .product-card {
        width: calc((100% - 20px) / 2);
    }

    .product-card-row {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        gap: 20px;
        flex: 1;
    }

    .green-selling-card h4,
    .brown-selling-card h4 {
        width: auto;
    }

    .brown-selling-card {
        width: 25%;
        max-width: 206px;
    }

    .content-tablet {
        display: flex;
    }

    .content-desktop {
        display: none;
    }

    .introduce-left {
        width: 45%;
    }

    .introduce-left>img {
        width: 80%;
        margin-top: -10px;
        margin-left: 90px;
    }

    .introduce-title {
        flex-direction: column;
        align-items: flex-start;
    }

    .introduce-title h3 {
        margin: 10px 0px 30px 0px;
    }

    .about-store-btn {
        margin-top: 80px;
    }

    .article-grids {
        flex-wrap: wrap;
        gap: 40px;
    }

    .article-card {
        width: calc((100% - 40px) / 2);
    }

    .article-content {
        margin: 0px 10px;
    }

    .article-down {
        margin: 10px 10px 0px;
        padding: 8px;
        gap: 5px
    }
}

@media screen and (max-width:800px) {
    .announcement-inside {
        justify-content: center;
    }

    .announcement-inside>div {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 15px;
    }

    .announcement-text {
        flex: 1;
    }

    .green-selling-card {
        width: 100%;
        max-width: none;
        min-height: 185px;
    }

    .product-grid {
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    .green-selling-card h4 {
        width: auto;
        margin-left: 20px;
        margin-top: 0px;
    }

    .green-selling-card .icon-leaf img {
        margin-left: 0px;
    }

    .green-selling-card h4 br {
        display: none;
    }

    .selling-card-inside {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        margin-left: 40px;
    }

    .green-selling-card .icon-leaf {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .green-selling-card .light-leaf {
        position: absolute;
    }

    .product-grid {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .product-card-row {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
        align-items: center;
    }

    .product-card {
        width: 100%;
    }

    .product-price {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .product-card p br {
        display: none;
    }

    .product-option {
        margin-bottom: 10px;
    }

    .brown-selling-card {
        width: 100%;
        min-height: 185px;
    }

    .product-grid {
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    .brown-selling-card h4 {
        width: auto;
        margin-left: 20px;
        margin-top: 0px;
    }

    .brown-selling-card .icon-leaf img {
        margin-left: 0px;
    }

    .brown-selling-card h4 br {
        display: none;
    }

    .brown-selling-card .icon-leaf {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .brown-selling-card .light-leaf {
        position: absolute;
    }

    .second-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .content-tablet {
        display: none;
    }

    .content-mobile {
        display: flex;
    }

    .introduce {
        flex-direction: column;
    }

    .introduce-right {
        width: 100%;
    }

    .introduce-title {
        flex-direction: row;
        align-items: center;
    }

    .introduce-title h3 {
        margin: 0;
    }

    .introduce-right-mobile {
        display: flex;
        ;
    }

    .introduce-right-desktop {
        display: none;
    }

    .left-back-stamp {
        display: none;
    }

    .introduce-left {
        width: 90%;
        margin-top: 20px;
    }

    .about-store-btn {
        margin-top: 0px;
    }

    .article-upper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        gap: 20px;
    }

    .article-grids {
        flex-direction: column;
        gap: 50px;
    }

    .article-card {
        width: 100%;
    }

}