.hero-banner {
    width: 100%;
    height: 679px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
}

.hero-banner>img {
    width: 100%;
    height: 100%;
}

.hero-inside {
    display: flex;
    position: absolute;
    width: 90%;
    height: 679px;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    width: 25%;
}

.hero-left img {
    width: 100%;
}

.hero-right {
    width: 25%;
}

.hero-right img {
    width: 100%;
}

.hero-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.icon-leaf img {
    width: 70px;
}

.hero-middle h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 16px;
    color: #141414;
}

.hero-middle h3 {
    font-family: "Happy Monkey", system-ui;
    font-size: 36px;
    line-height: 1.4;
    font-weight: 400;
    color: #141414;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.browse-all-btn {
    background-color: #ffa42d;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 22px 40px 24px;
    font-size: 17px;
    font-weight: 600;
}

.browse-all-btn:hover {
    background-color: #76b62b;
    color: #ffffff;
}

.announcement-bar {
    width: 100%;
    height: 74px;
    background-color: #421610;
}

.announcement-inside {
    display: flex;
    align-items: center;
    height: 74px;
}

.announcement-text p {
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

.announcement-inside>div {
    color: #ffffff;
    margin-left: 25px;
    margin-right: 25px;
}

.best-selling-section {
    margin: 60px;
}

.best-selling-section h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.product-grid {
    display: flex;
    flex-direction: row;
}

.green-selling-card {
    background-color: #4d781c;
    border-radius: 8px;
    width: 266px;
    height: 606px;

}

.green-selling-card .light-leaf img {
    width: 204px;
}

.green-selling-card .icon-leaf img {
    width: 50px;
    margin-left: -90px;
}

.green-selling-card .icon-leaf {
    margin-top: 150px;
    margin-bottom: 16px;
}

.green-selling-card h4 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.selling-card-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card {
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
    width: calc((100% - 40px) / 3);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.product-card-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 80px;
}

.product-card>img {
    width: 100%;
    margin-bottom: 16px;
}

.product-card a {
    font-size: 14px;
    font-weight: 400;
    color: #76b26b;
    margin-top: 16px;
    margin-left: 16px;
}

.product-card h5 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 16px;
    color: #141414;
    margin-top: 16px;
    margin-bottom: 0px;
    text-decoration: underline 1px solid #141414;
}

.product-card p {
    font-size: 15px;
    font-weight: 400;
    margin-left: 16px;
    color: #494949;
}

.product-price {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 16px;
    margin-top: 16px;
    align-items: center;
}

.product-price .price {
    font-size: 17px;
    font-weight: 600;
    color: #ea2a30;
}

.product-price .old-price {
    font-size: 14px;
    font-weight: 400;
    color: #4a4a4a;
    text-decoration: line-through;
}

.product-price .discount {
    font-size: 15px;
    font-weight: 400;
    color: #fa8e00;
    background-color: #ffa42e18;
    padding: 3px;
}

.add-cart-btn {
    font-size: 18px;
    font-weight: 600;
    color: #141414;
    padding: 17px 40px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: auto;
    text-align: center;
}

.add-cart-btn img {
    width: 21px;
    margin-right: 15px;
    margin-bottom: -2px;
}

.product-option p {
    font-size: 15px;
    font-weight: 400;
    color: #494949;
}

.option-btns button {
    font-size: 13px;
    font-weight: 400;
    color: #7d7d7d;
    border-radius: 4px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    padding: 6px 14px;
}

.option-btns {
    margin-left: 16px;
}