.product-introduce {
    display: flex;
    margin: 60px;
    justify-content: space-between;
}

.introduce-left {
    width: 45%;
}

.pet-image img {
    width: 100%;
}

.stamp img {
    width: 20%;
}

.introduce-right {
    width: 45%;
    padding: 0px 16px;
}

.small-introduce p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--color-text-gray);
}

.introduce-right h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-title-black);
    margin: 6px 10px 10px 0px;
}

.review-text p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-main-green);
    text-decoration: dotted underline var(--color-main-green);
    padding: 0px 0px 30px 0px;
}

.review-text {
    border-bottom: 1px solid #e7e6e6;
}

.review-text p:hover {
    color: var(--color-button-orange);
    text-decoration: none;
}

.introduce-text p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.72;
    color: var(--color-text-gray);
    margin: 20px 0px;
}

.price {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-price-red);
    margin-bottom: 24px;
}

.product-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.product-option p {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-text-grey);
}

.option-btns button {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-box-gray);
    border-radius: var(--radius);
    border: 1px solid #c2c2c2;
    background-color: var(--color-white);
    padding: 10px 24px;
    margin-right: 20px;
}

.option-btns button:hover {
    color: var(--color-title-black);
    border: 1px solid var(--color-title-black);
}

.button-section {
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
    gap: 20px;
}

.choose-number {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.choose-number button,
.choose-number div {
    font-size: 17px;
    border: 1px solid #e5e5e5;
    background-color: var(--color-white);
    width: 56px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-gray);
}

.choose-number div {
    border-left: none;
    border-right: none;
}

.btn-1 {
    border-radius: var(--radius) 0px 0px var(--radius);
}

.btn-2 {
    border-radius: 0px var(--radius) var(--radius) 0px;
}

.add-cart-btn {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-white);
    padding: 17px 40px;
    border: none;
    background-color: var(--color-button-orange);
    border-radius: var(--radius);
    text-align: center;
}

.add-cart-btn img {
    width: 21px;
    margin-right: 15px;
    margin-bottom: -2px;
    filter: brightness(0) invert(1)
}

.add-cart-btn:hover {
    background-color: var(--color-heading-black);
}

.categories-section,
.tags-section {
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    color: var(--color-text-gray);
    margin: 20px 0px 0px 0px;
}

.color-green {
    color: var(--color-main-green);
    text-decoration: dotted underline var(--color-main-green);
}

.color-green:hover {
    color: var(--color-button-orange);
    text-decoration: none;
}

.social-link {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.social-link a {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-text-gray);
    text-decoration: dotted underline var(--color-text-gray);
}

.social-link a:hover {
    color: #000000;
    text-decoration: none;
}

.banner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
}

.banner-image {
    width: 100%;
}

.banner-inside {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 90%;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    gap: 30px;
}

.banner-text {
    display: flex;
    gap: 10px;
    font-size: 19px;
    font-weight: 600;
    color: var(--color-title-black);
}